<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | My Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>


    <main class="container">
        <h1>About Me</h1>
        <p>I am Doston Sulayom, a 22-year-old Software Engineer from Tashkent, Uzbekistan</p>
        <p>I started this blog to share my knowledge and experiences in software development,
            explore new technologies, and connect with the tech community.</p>
        <p>I'm always eager to learn and grow, so feel free to reach out if you have any
            questions or want to connect!</p>
    </main>


</body>

</html>