<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | My Blog</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>


    <main class="container">
        <h1>Contact</h1>
        <p>Feel free to reach out using the following methods:</p>
        <ul class="contact-methods">
            <li><a href="https://www.facebook.com/your_facebook_profile"><i
                        class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/your_linkedin_profile"><i
                        class="fab fa-linkedin-in"></i> LinkedIn</a></li>
        </ul>
    </main>


</body>

</html>